html {
  font-size: $base-font-size;
  overflow-x: hidden;
}

body {
  font-family: $primary-font;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $font-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

main {
  margin-top: 70px;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}

.container {
	box-sizing: border-box;
  width: 100%;
  max-width: $container-xl;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  max-width: calc(#{$container-xl} + 40px);
  
  &__half {
    position: relative;
    width: 50%;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $z-index-4;
  display: flex;
  visibility: hidden;
  background-color: rgba(0,0,0,0);
  align-items: center;
  transition: all 0.4s ease-in-out;
  &--active {
    background-color: rgba(0,0,0,0.5);
    visibility: visible;
  }
}

.modal {
  width: 600px;
  height: 310px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  margin-top: -260px;
  transform: translate(-50%, -10%);
  position: absolute;
  left: 50%;
  pointer-events: none;

  &--active {
    transform: translate(-50%, 50%);
    opacity: 1;
    pointer-events: auto;
  }
  &__content {
    overflow: hidden;
    position: relative;
    width: 480px;
    height: 100%;
    padding-top: 55px;
    padding-left: 65px;
    border-radius: 6px;
    background-color: $accent-bg-color;
    opacity: 1;
    display: block;
    position: relative;
    z-index: $z-index-5;
    .text--xbg {
      position: relative;
      z-index: $z-index-5+2;
    }
    .text {
      z-index: $z-index-5+2;
      position: relative;
      font-size: pxToRem(18);
      line-height: pxToRem(30);
      margin: 33px 0;
      max-width: 250px;
      color: $font-light-color;
    }
    .btn {
      box-sizing: border-box;
      position: relative;
      z-index: $z-index-5+2;
      display: flex;
      padding: 12px 27px;
      color: $link-color;
      min-height: auto;
      font-size: pxToRem(14);
      line-height: pxToRem(14);
      align-items: center;
      .text--bold {
        z-index: $z-index-5+2;
        margin-left: 5px;
      }
    }
    &:before {
      z-index: $z-index-5;
      content: '';
      width: 600px;
      height: 500px;
      margin-left: -216px;
      margin-top: -110px;
      transform: rotate(117deg);
      top: 0;
      left: 0;  
      background-color: #fff;
      position: absolute;
    }
  }
  .plane {
    position: absolute;
    z-index: $z-index-5+2;
    top: 0;
    right: 0;
    top: 65px;
    right: 20px;
  }
  .cross-icon {
    z-index: $z-index-5+2;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }
  .cat-from-back {
    position: absolute;
    z-index: $z-index-5+2;
    bottom: -1px;
    right: 115px;
  }
  .broken-vase {
    position: absolute;
    z-index: $z-index-5+2;
    bottom: -10px;
    right: 18px;
  }
  .decor-circle-1,
  .decor-circle-2,
  .decor-circle-3,
  .decor-circle-4 {
    z-index: $z-index-5+1;
    position: absolute;
  }
  .decor-circle-1 {
    top: 260px;
    right: 0;
  }
  .decor-circle-2 {
    top: 0;
    right: 60px;
  }
  .decor-circle-3 {
    top: 0;
    left: 0;
  }
  .decor-circle-4 {
    bottom: 0;
    left: 10px;
  }
}

.text-content-container {
  margin-top: 100px;
  margin-bottom: 116px;
  h1 {
    text-align: center;
    font-size: pxToRem(46);
    font-weight: bold;
  }
  h1+h2 {
    margin-top: 47px;
  }
  h2 {
    margin-top: 57px;
    font-size: pxToRem(24);
    font-weight: bold;
    color: $font-mid-light-color;
  }
  p {
    margin-top: 25px;
    font-size: pxToRem(18);
    line-height: pxToRem(33);
    color: $font-light-color;
  }
  p+p {
    margin-top: 35px;
  }
  ol {
    padding-left: 20px;
    margin-top: 25px;
    counter-reset: list;
  }
  ol > li {
    list-style: none;
    color: $font-light-color;
    font-size: pxToRem(18);
    line-height: pxToRem(33);
  }
  ol > li + li {
    margin-top: 25px;
  }
  ol > li:before {
      content: counter(list) ") ";
      counter-increment: list;
      margin-left: -20px;
  }
  a {
    color: $accent-color;
  }
}

.bg-accent {
  background-color: $accent-bg-color;
}

.flex-v {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.vertical-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.text {
  a {
    color: $accent-color;
  }
}