.btn {
  border: none;
  background-color: $secondary-color;
  color: $font-color;
  padding: 11px;
  min-height: 53px;
  font-family: $primary-font;
  outline: none;
  cursor: pointer;
}
.btn--rounded {
  border-radius: 50px;
}
.btn--primary {
  background-color: $accent-color;
  color: $secondary-color;
}
.btn--active {
  box-shadow: 0 2px 4px 0 #dcd8ff, 0 2px 4px 0 rgba(93, 164, 240, 0.24);
}
.btn--close {
  box-sizing: border-box;
  background-image: url("/assets/images/icons/cros.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.btn--bordered {
  border: 2px solid $accent-light-color;
}

.btn--sm {
  width: 53px;
}
.btn--md {
  width: 163px;
}
.btn__group-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.btn__text {
  font-size: pxToRem(17);
}
.btn__container {
  display: flex;
}
