.cloud-container {
	display: flex;
	margin-bottom: 162px;
	.text--bg {
		margin-top: 130px;
		line-height: pxToRem(55);
	}
	.content {
		min-width: 33%;
		.text {
			margin-top: 32px;
			width: 75%;
		}
	}
	.logo-container {
		margin-top: 65px;
	}
	.btn {
    box-sizing: border-box;
		line-height: pxToRem(53);
		font-size: pxToRem(17);
    margin-top: 55px;
    padding: 0 33px;
    display: inline-flex;
    align-items: center;
	}
}

.circle {
	width: 440px;
	height: 440px;
	border-radius: 50%;
	background-color: $inverse-color;
	position: relative;
  box-shadow: -5px 31px 38px 0 rgba(240,241,247,0.57);

	&__logo {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -23px;
	    margin-left: -151px;
	}
}

.result-wrapper {
  &--hide {
    visibility: hidden;
  }
}

.section-uploads {
  background: $accent-bg-color;
  position: relative;
  min-height: 865px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before {
    background-color: $accent-bg-color;
    content: "";
    width: 150%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(-4deg);
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: calc(50% - 20px); 
    background: url('/assets/images/decorations.svg') center no-repeat;
    transition: all 0.6s ease-in-out;

    &--hide {
      transform: rotateY(110deg);
      opacity: 0;
    }
  }

  & .section__title {
    position: relative;
    margin-top: 89px;
    margin-bottom: 12px;
    font-family: $primary-font;
    font-weight: bold;
    font-size: pxToRem(46);
    color: #0C2C3A;
  }

  & .section__info {
    position: relative;
    max-width: 575px;
    margin-bottom: 43px;
    margin-top: 25px;
    width: 100%;
    color: #0C2C3A;
    font-family: Lato;
    font-size: pxToRem(18px);
    line-height: pxToRem(33px);
    text-align: center;
  }


  .section-uploads__work-wrap {
    display: flex;
    margin-top: pxToRem(9);
    margin-bottom: pxToRem(34);

    &--hide {
      visibility: hidden;
    }
  }

  .section-uploads__subhed {
    color: #141D27;
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
  }

  .section-uploads__another {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    width: 100%;
    max-width: 180px;
    margin-top: 15px;
    text-align: center;
    border-radius: 100px;
    background: $accent-color;
    font-family: $primary-font;
    font-size: 17px;
    font-weight: bold;
    color: $white-color;
    border: 2px solid #6C5EEF;
  }
}

.upload-container {
  // transform: translateY(-200px);
  width: 100%;
  height: 570px;
  max-width: 598px;
  position: relative;

  &--hide {
    opacity: 0;
  }
}

.preview {
  display: none;
  height: 100%;
  position: absolute;
  padding-top: 10px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  &__image {
    max-width: 360px;
    max-height: 200px;

    &--blinking {
      animation: blinking 1.1s infinite ease-in-out;
    }

    &--fade {
      transition: opacity 0.2s ease-in-out;
      opacity: 0.8;
    }
  }
}

.code {
  font-size: pxToRem(12);
  line-height: pxToRem(24);
  font-weight: 400;
  padding: 15px;
  min-height: pxToRem(200);
  color: $font-light-color;
  background-color: $inverse-color;
  border: 1px solid #d6dde5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.uploads {
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid $neutral-color;
  margin: 0 auto;
  box-sizing: border-box;
  background: $inverse-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color .3s ease-in-out;

  &--drag-enter {
    border: 1px solid #657484;

    .upload-btn {
      opacity: 0;
      pointer-events: none;
    }
  }

  &--uploading {
    .upload-btn {
      opacity: 0;
      pointer-events: none;
    }

    .preview {
      display: flex;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    padding: 12px 24px;
    width: 100%;
    max-width: 180px;
    margin-top: 15px;
    text-align: center;
    border-radius: 100px;
    background: $accent-color;
    font-family: $primary-font;
    font-size: 17px;
    font-weight: bold;
    color: $white-color;
    border: 2px solid #6C5EEF;

    &:hover {
      cursor: pointer;
    }
  }

  &__hint {
    margin-top: 10px;
    color: #9BACBA;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    max-width: 215px;
  }
}

.upload-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: opacity .2s ease-in-out;

  & svg {
    margin-bottom: 10px;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.error-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($accent-color, .7);
  color: $inverse-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.is-drag-start {
  .how-drag-info__text,
  .how-drag-info__img::after{
    opacity: 0;
  }
}

.is-drop-enter {
  .uploads {
    border-color: $accent-color;
  }

  .upload-btn {
    pointer-events: none;
    opacity: 0;
  }
}

.is-open-results {
  .result-container {
    display: block;
  }
}

.is-uploading {
  .loader {
    opacity: 1;
  }

  .upload-btn {
    opacity: 0;
  }

  .how-drag-info {
    opacity: 0;
  }
}

.how-drag-info {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 22px;
  width: 100%;
  max-width: 397px;
  transition: opacity .3s ease-in-out;

  &--cover {
    opacity: 0;
  }

  &--hide {
    display: none;
  }

  &__img {
    position: relative;

    &  img {
      border: 10px solid $inverse-color;
      cursor: grab;
    }

    &::after {
      content: '';
      display: block;
      background: url('/assets/images/icons/icons-arrow.svg');
      height: 75px;
      width: 23px;
      top: -49px;
      right: -40px;
      background-repeat: no-repeat;
      position: absolute;
    }
  }

  &__text {
    width: 210px;
    height: 56px;
    font-weight: 400;
    padding-left: 17px;
    display: flex;
    color: #0C2C3A; 
    ont-family: $primary-font; 
    font-size: 18px; 
    line-height: 33px;
  }
}

.result-container {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__block {
    transition: all 0.5s ease-in-out;
    z-index: $z-index-2;

    &--dev-info {
      opacity: 0;
      position: absolute;
      z-index: $z-index-1;
      transform: translateX(50%);
      margin-left: 15px;
    }

    &--active {
      opacity: 1;
    }

    &--mv-left {
      transform: translateX(-50%);
      
      .result__img {
        margin-right: 0;
      }
    }
  }

  &__block:last-child {
    margin-left: 30px;
  }

  &__img {
    text-align: right;
    max-width: 465px;
    margin: 0 auto;
    min-height: 250px;

    img {
      width: auto;
      max-width: 360px;
      max-height: 300px;
      height: auto;
    }
  }

  &__info {
    max-width: 465px;
  }

  &__add-text {
    font-size: pxToRem(14);
    font-weight: 500;
    line-height: pxToRem(24);
    margin-bottom: 15px;
  }

  &__toggle {
    position: relative;
    text-align: center;
    margin-top: 48px;
  }

  &__title {
    text-align: center;
    flex-basis: 100%;
    font-family: $primary-font;
    font-weight: 500;
    font-size: pxToRem(24);
    line-height: pxToRem(24);
    margin-top: pxToRem(23);
    margin-bottom: pxToRem(23);
    text-transform: capitalize;
  }
}

.work-describe {
  border-top: 4px solid transparent;
  background: $inverse-color;
  padding: 0 10px 20px;
  width: 100%;
  min-height: 110px;
  max-width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;

  &__header {
    font-family: $primary-font;
    color: #141d27;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 10px;
    color: #0C2C3A;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
  }

  &__text {
    font-family: $primary-font;
    width: 100%; // IE fix text overflowing
    color: #0C2C3A;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  &_active {
    border-top: 4px solid #1d75b1;
    box-shadow: 0 10px 20px rgba(58, 55, 55, 0.12);   
    z-index: 2; 
  }

  &:not(.work-describe_active) {
    & .work-describe__text, & .work-describe__header {
      opacity: .8;
    }
  }
}


.upload-container_new {

  & .how-drag-info {
    display: none;
  }

  & .how-drag-info {
    max-width: 500px;
  
    & .how-drag-info__img {
      width: 100%;
      
      & img {
        border: none;   
        width: 100%;        
      }
  
      &::after {
        content: none;
      }
    }
  }
}

.worm-loader {
  margin-top: 24px;

  path {
    transition: all 0.2s ease-in-out;
  }

  &__container {
    
    &--blinking {
      animation: blinking 1.1s infinite ease-in-out;
    }
  }

  &__worm {
    transform: rotateY(180deg);
    position: absolute;

    &--progress {
      position: relative;
    }
  }

  &__list {
    position: relative;
    margin-top: 24px;
    font-family: $primary-font;
  }

  &__list-item {
    text-align: center;
    font-family: $primary-font;
    opacity: 0;

    &--fixed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 0;
    }
  }
}

@keyframes blinking {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}

