.decor-section1-circle1 {
  position: absolute;
  top: 0;
  left: 0;
}

.decor-section1-circle2 {
  position: absolute;
  top: 140px;
  right: -20px;
}

.decor-section2-circle1 {
  z-index: $z-index-1;
  position: absolute;
  top: 380px;
  left: -40px;
}

.decor-section2-circle2   {
  z-index: $z-index-1;
  position: absolute;
  top: 115px; 
  right: -425px; 
}

.decor-section3-circle1 {
  position: absolute;
  top: -80px;
  left: 14px;
}

.decor-section3-circle2 {
  position: absolute;
  top: -110px;
  right: 40px;
}

.decor-section3-circle3   {
  position: absolute;
  display: none;
}

.decor-section3-circle4   {
  position: absolute;
  display: none;
}

.decor-section4-circle1 {
  z-index: $z-index-1;
  position: absolute;
  top: -260px;
  left: -410px;
}

.decor-section4-circle2 {
  z-index: $z-index-1;
  position: absolute;
  top: -205px;
  right: 65px;
}

.decor-section4-circle3 {
  z-index: $z-index-1;
  position: absolute;
  bottom: -170px;
  right: -188px;
}

.decor-section5-circle1 {
  z-index: $z-index-1;
  position: absolute;
  top: -170px;
  left: 30px;
}

.typed-cursor {
  font-size: 52px;
  color: $accent-color;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.animated-text-container {
  display: flex;
  height: 66px;
}

.section--accent {
  background-color: $accent-bg-color;
  position: relative;
  &:before {
    background-color: $accent-bg-color;
    content: "";
    width: 150%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(-4deg);
  }
  &:after {
    background-color: $accent-bg-color;
    content: "";
    width: 150%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: 100% 100%;
    transform: rotate(-4deg);
  }
}

.section {
  position: relative;
}

.section--one {
  z-index: $z-index-1;
  .container__content {
    margin-top: -95px;
  }
  .text {
    width: 86%;
    margin-bottom: 54px;
  }
  .animated-text {
    margin-bottom: 14px;
  }
  .main-text {
    margin-bottom: 37px;
  }
}

.section--two {
  margin-top: -40px;
  .container {
    z-index: $z-index-1;
    position: relative;
  }
  .container__half:nth-child(n+3) {
      display: none;
  }
  .container__content {
    margin-top: 264px;
    margin-left: 25px;
    position: absolute;
  }
  .container__half {
    z-index: $z-index-1;
  }
  .sub-text {
    width: 83%;
    line-height: pxToRem(55);
  }
  .accordion {
    margin-top: 40px;
  }
  &:after {
    bottom: -85px;
  }
}

.section--three {
  min-height: 1300px;
  .feature__item:first-child .feature__image {
    max-width: 100%;
  }
  .feature__item:last-child .feature__image {
    max-width: 100%;
  }
  .text--bg {
    text-align: center;
  }
  .container {
    margin-top: 435px;
    display: block;
    max-width: $container-xl;
  }
  .feature {
    margin-top: 110px;

    &--short {
      margin-top: 135px;
    }
  }
  .container {
    position: relative;
    z-index: $z-index-1;
  }
}

.section--four {
  min-height: 730px;
  .container {
    position: relative;
    z-index: $z-index-1;
    &__half {
      z-index: $z-index-1;
    }
    &__half:first-child {
      .cat-box {
        display: none;
      }
    }
    &__content {
      margin-top: 157px;
      margin-left: -9px;
    }
  }
  .sub-text {
    width: 105%;
    line-height: pxToRem(55);
  }

  .group-list {
    margin-top: 46px;
    margin-left: 14px;
  }
  .cat-box {
    margin-top: 174px;
    margin-left: 116px;
  }
}

.section--five {
  .corporations-list {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 800px;
    &__item {
      margin: 20px 20px;
    }
  }
  .container {
    margin-top: 227px;
    display: block;
    z-index: $z-index-2;
    position: relative;
  }
}

.buttons-groups {
  display: flex;

  .btn {
    box-sizing: border-box;
  }

  .btn:not(.btn--sm):not(.btn--md) {
    min-width: 195px;
  }
  .btn:not(:last-child),
  .email-input:not(:last-child) {
    margin-right: 18px;
  }
  .btn__container {
    justify-content: center;
  }
  .btn__group-text {
    margin-left: 7px;
  }
  .btn__container {
    .btn__text {
      margin-left: 7px;
    }
  }
}

.buttons-groups--inverse {
  .btn {
    color: $inverse-color;
    background-color: $accent-light-color;
  }
  .email-input {
    background-color: $inverse-color;
  }
  .btn--primary {
    color: $accent-color;
    background-color: $inverse-color;
  }
}

.back-iphone {
  position: relative;
  z-index: $z-index-1;
  width: 338px;
  height: 671px;
  background-image: url("/assets/images/iphone-back.png");
  margin-top: 107px;
  margin-left: 8px;
}

.front-iphone {
  position: absolute;
  right: -37px;
  top: 73px;
  z-index: $z-index-1+2;
  width: 410px;
  height: 758px;
  background-image: url("/assets/images/iphone.png");
}

.front-iphone-video {
  position: absolute;
  z-index: $z-index-4;
  right: 16px;
  top: 89px;
}

.main-text {
  font-size: pxToRem(52);
}

.animated-text {
  font-size: pxToRem(52);
}

.text {
  font-size: pxToRem(18);
  font-weight: 300;
  line-height: pxToRem(33);
}

.email-input {
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: $primary-font;
  box-sizing: border-box;
  font-size: $base-font-size;
  color: $font-secondary-color;
  min-width: 270px;
  background-color: $secondary-color;
  padding: 16px 0;
  padding-left: 25px;
  border: 1px solid transparent;
  
  &::-webkit-input-placeholder {
    font-family: $primary-font;
    color: $font-secondary-color;
    font-size: pxToRem(18);
  }

  &--error {
    border: 1px solid $error-color;
  }
}

.accordion {
  &__item {
    margin-bottom: 15px;
    .fill {
      fill: $secondary-icon-color;
    }
    .stroke {
      stroke: $secondary-icon-color;
    }
    &--active {
      .accordion__content {
        margin-bottom: 48px;
        opacity: 1;
      }
      .accordion__title {
        color: $font-color;
      }
      .fill {
        fill: $accent-color;
      }
      .stroke {
        stroke: $accent-color;
      }
    }
  }
  &__icon {
    width: 45px;
    height: 45px;
    display: block;
    background-position: center center;
    margin-right: 12px;
    fill: $secondary-icon-color;
  }
  &__title {
    color: $font-secondary-color;
    display: flex;
    align-items: center;
    font-size: pxToRem(24);
  }
  &__content {
    font-size: pxToRem(18);
    margin-left: 57px;
    margin-top: 7px;
    width: 88%;
    line-height: 32px;
    overflow: hidden;
    position: relative;
    visibility: visible;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 0.7s ease-in-out, opacity 1.4s;
    opacity: 0;
  }
}

.cat {
  right: 0;
  opacity: inherit;
  position: relative;
  width: 520px;
  height: 520px;
  margin-top: 263px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__circle {
    z-index: $z-index-0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    &:after {
      top: 0;
      right: 0;
      position: absolute;
      width: 80px;
      content: '';
      width: 80px;
      height: 480px;
      z-index: $z-index-0+1;
      display: block;
      background-color: $accent-bg-color;
    }
    &--fill {
        z-index: $z-index-0+2; 
        stroke-dashoffset: 586;
        stroke-dasharray: 500 1000; 
    }
  }
  &__gif, &__gif-background {
    margin: 0 auto;
    z-index: $z-index-3;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--active {
      opacity: 1;
    }
  }
  &__gif-background {
    opacity: 1;
  }
}

.point-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.point-list__point {
  z-index: $z-index-0+2;
  display: block;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  background-color: $accent-bg-color;
  border: solid 3px $dashed-color;
  &--active {
    height: 24px;
    width: 24px;
    border: none;
    background-color: $accent-color;
  }
  &--top-left {
    top: 65px;
    left: 67px;
  }
  &--top-right {
    top: 70px;
    right: 64px;
  }
  &--bottom-left {
    bottom: 67px;
    left: 61px;
  }
  &--bottom-right {
    bottom: 59px;
    right: 70px;
  }
}

.feature {
  display: flex;
  justify-content: space-between;

  &--short {
    justify-content: center;
  }

  &__border-decor {
    margin-top: 250px;
    display: block;
    height: 150px;
    width: 4px;
    margin: 250px 60px 0 60px;
    position: relative;
    background-position: center -7px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCA0IDIwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgICA8bGluZSBzdHJva2UtZGFzaGFycmF5PSIyIDYiIHN0cm9rZT0iI0QzRENFMyIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHgxPSIyIiB5MT0iMCIgeDI9IjIiIHkyPSIyMDAiIC8+PC9zdmc+);
  }
  &__item {
    width: 29%;
    &--borders {
      position: relative;
      &:after {
        content: '';
        display: block;
        height: 150px;
        width: 4px;
        position: absolute;
        bottom: 10px;
        right: -45px;
        background-position: center -7px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCA0IDIwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgICA8bGluZSBzdHJva2UtZGFzaGFycmF5PSIyIDYiIHN0cm9rZT0iI0QzRENFMyIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHgxPSIyIiB5MT0iMCIgeDI9IjIiIHkyPSIyMDAiIC8+PC9zdmc+);
      }
      &:before {
        content: '';
        display: block;
        height: 150px;
        width: 4px;
        position: absolute;
        bottom: 10px;
        left: -35px;
        background-position: center -7px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCA0IDIwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgICA8bGluZSBzdHJva2UtZGFzaGFycmF5PSIyIDYiIHN0cm9rZT0iI0QzRENFMyIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHgxPSIyIiB5MT0iMCIgeDI9IjIiIHkyPSIyMDAiIC8+PC9zdmc+);
      }
    }
  }
  &__text {
    font-size: pxToRem(18);
    line-height: pxToRem(32);
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 29px;
  }
  &__title {
    margin-top: 72px;
    font-size: pxToRem(24);
    text-align: center;
  }
  &__image {
    display: block;
  }
  .image__wrapper {
    height: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.group-list {
  &__item {
    margin-bottom: 14px;
  }
  &__icon {
    width: 45px;
    height: 45px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 12px;
    &--lock {
      background-image: url("/assets/images/lock.svg");
    }
    &--stack {
      background-image: url("/assets/images/stack-list.svg");
    }
  }
  &__title {
    color: $font-color;
    display: flex;
    align-items: center;
    font-size: pxToRem(24);
  }
  &__content {
    font-size: pxToRem(18);
    margin: 9px 0 28px 60px;
    width: 75%;
    line-height: 32px;
    height: auto;
    overflow: hidden;
  }
}

.cat-box {
  position: relative;
  width: 482px;
  height: 482px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__circle svg {
    top: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
  }
}

.cat-image {
  width: 100%;
  height: 100%;
}

.slider {
  margin: 0 auto;
  margin-top: 72px;
  max-width: 82.9%;
  position: relative;
  min-height: 200px;

  &__item-container {
    max-width: 85%;
    margin: 0 auto;
  }
  &__item {
    transition: opacity 0.8s ease-in-out, transform 0.4s ease-in-out;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    &--left {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
    }
    &--right {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      opacity: 0;
    }
  }
  &__text {
    font-size: pxToRem(24);
    line-height: pxToRem(48);
    color: $font-light-color;
  }
  &__link {
    color: $link-color;
    text-decoration: none;
    font-size: pxToRem(18);
    display: block;
    margin-top: 32px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDcgMTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgaWQ9IkNhbnZhcyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTgwNDMgLTE0OTMpIj48ZyBpZD0iQ29tYmluZWQgU2hhcGUiPjx1c2UgeGxpbms6aHJlZj0iI3BhdGgwX2ZpbGwiIHRyYW5zZm9ybT0ibWF0cml4KC0xIC0xLjIyNDY1ZS0xNiAxLjIyNDY1ZS0xNiAtMSA4MDQ5LjcxIDE1MDMuNDIpIiBmaWxsPSIjNUE0QkVFIi8+PC9nPjwvZz48ZGVmcz48cGF0aCBpZD0icGF0aDBfZmlsbCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNIDYuNzA5OTYgMS41TCA1LjIwOTk2IDBMIDAgNS4yMTAwOEwgNS4yMDk5NiAxMC40MkwgNi43MDk5NiA4LjkyMDA0TCAzIDUuMjEwMDhMIDYuNzA5OTYgMS41WiIvPjwvZGVmcz48L3N2Zz4=);
      background-repeat: no-repeat;
      width: 7px;
      height: 11px;
      top: 6px;
      right: auto;
      margin-left: 4px;
    }
  }
  &__container {
    position: relative;
    overflow: hidden;
  }
  &__control {
    position: absolute;
    width: 12px;
    height: 21px;
    top: 40px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItNTA0IDUwMCAxNC4xIDI0LjgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTUwNCA1MDAgMTQuMSAyNC44OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzVBNEJFRTt9PC9zdHlsZT48dGl0bGU+Q29tYmluZWQgU2hhcGU8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPjxnIGlkPSJVSSI+PGcgaWQ9IkhvbWVfcGFnZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUwMy4wMDAwMDAsIC00MDA0LjAwMDAwMCkiPjxwb2x5Z29uIGlkPSJDb21iaW5lZC1TaGFwZSIgY2xhc3M9InN0MCIgcG9pbnRzPSIxMy4xLDQ1MDUuOCAxMS40LDQ1MDQgLTEsNDUxNi40IDExLjQsNDUyOC44IDEzLjEsNDUyNyAyLjUsNDUxNi40ICIvPjwvZz48L2c+PC9zdmc+);
    background-repeat: no-repeat;
    cursor: pointer;
    &--prev {
      left: -12px;
    }
    &--next {
      transform: rotate(180deg);
      right: -12px;
    }
  }
  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    z-index: $z-index-1;
    height: 100%;
    width: 10%;

  }
  &:after {
    right: 0;
    margin-right: -2px;
    background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#ffffff', startColorstr='#00ffffff',GradientType=1 );
  }
  &:before {
    left: 0;
    margin-left: -2px;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}

.corporations-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 107px;
  cursor: pointer;
  &__item {
    height: 45px;
    padding-bottom: 15px;
    &--active {
      position: relative;
      .corporations-list__logo {
        fill: $blur-color;
        opacity: 1;
      }
      &:after {
        position: absolute;
        border-bottom: solid 3px $accent-color;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
      }
    }
  }
  &__logo {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.15;
    vertical-align: middle;

    &--inc {
      max-width: 80px;
    }

    &--time {
      max-width: 85px;
    }
  }
}

.vertical-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media (min-width: 1025px) and (max-width:1200px) {
  .section--four {
    .cat-box {
      margin-left: 35px;
    }
  }
}

@media (max-width:1024px) {
  .section--one {
    .container {
      margin-bottom: -161px;
      flex-wrap: wrap;
      height: auto;
      flex-wrap: wrap;
      .text {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 60px;
      }
      &__content {
        margin-top: 40px;
        text-align: center;
      }
      &__half {
        text-align: center;
        width: 100%;
      }
    }
    .back-iphone {
      margin-left: -30%;
    }
    .front-iphone {
      right: 39%;
      margin-right: -205px;
    }
    .front-iphone-video {
      right: 39%;
      margin-right: -150px;
    }
  }
  .section--two {
    .container {
      padding-top: 165px;
    }
    .cat {
      transform: scale(0.85);
      margin-left: -30px;
    }
    .sub-text {
      margin-top: 80px;
    }
    .container__half:nth-child(3) {
      margin-top: 60px;
    }
  }
  .section--three {
    .container {
      margin-top: 250px;
      margin-bottom: 200px;
      .text--bg {
        margin: 0 auto;
        width: 50%;
      }
    }
    .feature {
      margin: 0 auto;
      flex-wrap: wrap;
      width: 52%;
      &__border-decor {
        display: none;
      }
      &__item {
        margin-top: 80px;
        width: 100%;
        &--borders {
          &:after, &:before {
            content:none;
          }
        }
      }
      &__title {
        margin-top: 50px;
        margin-bottom: 25px;
      }
      &__text {
        width: 80%;
      }
      &__image {
        width: auto;
        &--first {
          margin-left: 0;
        }
        &--last {
          margin-right: 0;
        }
        &--vase {
          margin-top: -5px;
        }
      }
    }
  }
  .section--four {
    .container__half:first-child {
      width: 100%;
      .cat-box {
        display: flex;
        margin: 0 auto;
        margin-top: 80px;
      }
      .sub-text {
        text-align: center;
        width: 480px;
        margin-left: auto;
        margin-right: auto;
      }
      .container__content {
        margin-left: 0;
      }
    }
    .container__half:last-child {
      display: none;
    }
    .group-list {
      display: flex;
      margin-bottom: 100px;
      justify-content: center;
      margin-left: 0;
      &__item {
        width: 340px;
      }
    }
  }
  .footer {
    .menu {
      height: auto;
      margin-bottom: 15px;
      align-items: center;
      flex-direction: column;
      padding: 0 20px;

      &__item {
        margin-bottom: 10px;
      }

      &__item:first-child {
        margin-left: 0;
      }
            
      .text--sm {
        order: 1;
      }

      .text--sm {
        margin-left: 0;
      }
    }

    .menu-list {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .buttons-groups {
    justify-content: center;
  }
  .animated-text-container {
    justify-content: center;
  }
  .decor-section1-circle2 {
    right: -82px;
  }
  .decor-section1-circle1 {
    left: -140px;
  }
  .decor-section2-circle1 {
    display: none;
  }
  .decor-section2-circle2 {
    display: none;
  }
  .decor-section3-circle1 {
    left: -150px;
    top: -190px;
  }
  .decor-section3-circle2 {
    top: -260px;
    right: -60px;
  }
  .decor-section3-circle3   {
    display: block;
    right: -190px;
    top: 550px;
    transform: scale(1.4);
  }
  .decor-section3-circle4   {
    display: block;
    left: -140px;
    top: 460px;
  }
  .decor-section4-circle1 {
    transform: scale(0.5);
    top: -330px;
    left: -350px;
  }
  .decor-section4-circle2 {
    top: -165px;
    right: -135px;
  }
  .decor-section4-circle3 {
    right: -220px;
  }
  .decor-section5-circle1 {
    top: -300px;
    left: -160px;
  }
}

@media (max-width: 900px) {
  .cloud-container {
    flex-wrap: wrap;
    .content {
      order: 1;
    }
    .logo-container {
      display: flex;
      justify-content: center;
      width: 100%;
      order: 0;
    }
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .section--two {
    .container {
      flex-wrap: wrap;
    }
    .container__half:nth-child(n) {
      display: inherit;
    }
    .container__half:first-child {
      display: none;
    }
    .container__half:nth-child(2) {
      width: 100%;
      .accordion {
        display: none;
      }
      .container__content {
        position: relative;
        margin: 0 auto;
      }
      .sub-text {
        text-align: center;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .group-list {
      padding-left: 25px;
    }
    .group-list__content {
      margin-left: 0;
      width: 95%;
    }
  }
}

@media (max-width: 768px) {
  .header {
    z-index: $z-index-2;
    .nav {
      height: 100vh;
      margin-top: 0;
      -webkit-transform: translateX(250px);
      transform: translateX(250px);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: $z-index-5;
      &__list {
        background-color: $accent-bg-color;
        width: 250px;
        padding: 42px 20px 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      &__list-item {
        display: block;
        margin: 0;
        margin-bottom: 14px;
        .nav__link {
          color: $font-secondary-color;
        }
        &--active {
          border-bottom: none;
          .nav__link {
            color: $font-color;
          }
        }
      }
      &__hamburger {
        cursor: pointer;
        display: inline-block;
        font-size: pxToRem(5);
        height: 30px;
        position: relative;
        user-select: none;
        transition: all 0.3s ease-in-out;
        width: 6em;
        top: 22px;
        margin-right: 20px;
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
        span {
          background: $accent-color;
          backface-visibility: hidden;
          height: 0.6em;
          position: absolute;
          transition: all 0.3s ease-in-out;
          width: 100%;   
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          left: 0;
          
          &:nth-child(1) {
            top: 1em;
          }
          &:nth-child(2) {
            top: 2.6em;
          }
          &:nth-child(3) {
            top: 4.2em;  
          }      
        }
      }
      &--opened {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        .nav__hamburger {
          margin-right: -50px;
          span {
            &:nth-child(1) {
              transform: rotate(45deg) translate(1.1em, 1.1em);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(1.1em , -1.1em); 
            } 
          }
        }
      }
    }
    .nav--pages {
      .nav__list {
        background-color: $inverse-color;
      }
    }
  }
  .section--one {
    .buttons-groups {
      justify-content: space-between;
      max-width: 410px;
      margin: 0 auto;
    }
    .btn:not(:last-child) {
      margin-right: 0;
    }
  }
  .section--two {
    .container {
      flex-wrap: wrap;
    }
    .container__half:nth-child(n) {
      display: inherit;
      width: 100%;
    }
    .container__half:first-child {
      display: none;
    }
    .container__half:nth-child(5) {
      order: 6;
    }
    .container__half:nth-child(6) {
      order: 5;
    }
    .container__half:nth-child(2) {
      width: 100%;
      .accordion {
        display: none;
      }
      .container__content {
        position: relative;
        margin: 0 auto;
      }
      .sub-text {
        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .container__half:nth-child(3),
    .container__half:nth-child(6    ),
    .container__half:nth-child(7) {
      display: flex;
      justify-content: center;
    }
    .cat-image {
      max-width: 434px;
    }
    .group-list {
      width: 75%;
      margin: 0 auto;
    }
    .group-list__title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }
    .group-list__content {
      margin: 25px auto 80px auto;
      text-align: center;
    }
  }
  .section--three {
    .container {
      .text--bg {
        width: 63%;
      }
    }
    .feature {
      width: 70%;
      &__text {
        width: 100%;
      }
      &__image {
        &--last {
          margin-left: -5px;
        }
      }
    }
  }
  .section--four {
    .container__half:first-child {
      margin-bottom: 58px;
      .sub-text {
        width: auto;
      }
      .cat-box {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }

    .group-list {
      flex-direction: column;
      display: flex;
      align-items: center;
      margin-left: 0;
      &__item {
        width: 340px;
      }
      &__title {
        display: flex;
        justify-content: center;
      }
      &__content {
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .buttons-groups {
    .buttons-row {
      .btn {
        margin: 10px 0px;
      }
    }
    .email-input {
      width: 60%;
      max-width: auto;
      margin-top: 10px;
      margin-right: 10px;
      max-height: 53px;
    }
    &--column {
      flex-direction: column;
      align-items: center;
    }
  }
  .contact-container {
    flex-wrap: wrap;
    .container__half {
      width: 100%;
      flex-wrap: wrap;
    }
    .container__half:first-child {
      display: flex;
      .text--bg {
        width: 100%;
      }
      .text-group {
        width: 50%;
        margin-top: 0;
      }
    }
    .form {
      max-width: 100%;
      margin: 65px 0 0 0;
    }
    .text-group {
      &__text {
        max-width: 85%;
      }
    }
  }
}

@media (max-width: 640px) {
  .section-uploads {
    display: none;
  }
  .modal {
    position: relative;
    transform: translateY(0);
    top: auto;
    left: auto;

    &__content {
      width: auto;
    }
    .cross-icon {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .section--four {
    .container__half:first-child {
      .cat-box {
        margin-top: 5px;
        margin-bottom: -30px;
        z-index: $z-index-1;
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 480px) {
  .section--one {
    .buttons-groups {
      justify-content: center;
      max-width: 410px;
      margin: 0 auto;
    }
    .container__half:last-child {
      transform: scale(0.8);
      margin-top: -95px;
    }
  }
  .section--two {
    .group-list {
      width: 100%;
      &__content {
        width: 99%;
      }
    }
    .container__half:nth-child(2) {
      .sub-text {
        width: 100%;
      }
    }

  }
  .section--three {
    .container {
      .text--bg {
        width: 100%;
      }
    }
    .feature {
      width: 100%;
      &__text {
        width: 100%;
      }
    }
  }
  .section--four {
    .container {
      .text--bg {
        width: 100%;
      }
    }
    .group-list {
      &__item {
        width: 90%;
      }
    }
  }
  .section--five {
    .sub-text {
      display: none;
    }
    .slider {
      display: none;
    }
    .corporations-list {
      &__logo {
        transition: none;
      }

      &__item {
        margin: 20px 0;
        width: 50%;
        
        &--active {
          opacity: 0.15;
        }
        &:after {
          content: none;
        }
      }
    }
  }
  .footer {
    height: 850px;
  }
  .buttons-groups {
    .btn {
      margin: 10px 0px;
      width: auto;
    }
    .email-input:not(:last-child) {
      width: auto;
      margin-right: 5px;
      min-width: unset;
    }
  }
  .cloud-container {
    .content {
      text-align: center;
      .text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .contact-container {
    .text--bg {
      text-align: center;
    }
    .container__half:first-child {
      .text-group {
        &__title {
          text-align: center;
        }
        &__text {
          text-align: center;
          margin-right: auto;
          margin-left: auto;
        }
        width: 100%;
      }
      .text-group + .text-group {
        margin-top: 32px;
      }
    }
    .form {
      .form__field:first-child {
        width: 100%;
        margin-bottom: 20px;
      }
      &__control {
        width: 100%;
      }
    }
  }
  .circle {
    width: 80vw;
    height: 80vw;
    &__logo {
      transform: scale(0.7);
    }
  }
  .decor-section1-circle1,
  .decor-section1-circle2,
  .decor-section2-circle1,
  .decor-section2-circle2,
  .decor-section3-circle1,
  .decor-section3-circle2,
  .decor-section3-circle3,
  .decor-section3-circle4,
  .decor-section4-circle1,
  .decor-section4-circle2,
  .decor-section4-circle3,
  .decor-section5-circle1 {
    display: none;
  }
  .modal {
    .cat-from-back,
    .plane,
    .decor-circle-2 {
      display: none;
    }
  }
  .main-text, .animated-text, .typed-cursor {
    font-size: pxToRem(40);
  }
  .footer {
    .buttons-groups {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn {
        margin-right: 0;
        max-width: 195px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 400px) {
  .section--four {
    .container__half:first-child {
      .cat-box {
        transform: scale(0.65);
        margin-top: -30px;
        margin-bottom: -80px;
      }
    }
  }
  .cloud-container {
    .content {
      .text {
        width: 90%;
      }
    }
  }
  .buttons-row {
    .btn {
      .btn__text {
        display: none;
      }
      min-width: 53px;
    }
  }
}

@media (max-height: 700px) {
  .modal--active {
    transform: translate(-50%,75%);
  }
}
