.text-group {
	&__title {
		color: $font-mid-light-color;
		font-size: pxToRem(24); 
	}
	&__text {
		margin-top: 10px;
		color: $font-light-color;
		font-size: pxToRem(18);
		line-height: pxToRem(33);
	}
}

.contact-container {
	margin-top: 100px;
	margin-bottom: 126px;
	.text--bg {
		margin-bottom: 44px;
	}
	.text-group {
		width: 80%;
	}
	.text-group + .text-group {
		margin-top: 32px;
		width: 70%;
	}
	.form {
		margin-top: -4px;
		margin-left: 8px;
	}
}

.form {
	display: flex;
	max-width: 570px;
	flex-wrap: wrap;
	justify-content: space-between;
	
	&__error {
		display: none;
		position: absolute;
		width: 23px;
    	height: 23px;
		top: 12px;
		right: 12px;

		&:hover {
			.form__error-message {
				visibility: visible;
				opacity: 1;
			}
		}

		&-icon {
			cursor: pointer;
			width: 23px;
			height: 23px;
			border-radius: 50%;
			border: 1px solid $error-color;
			position: absolute;
			color: $error-color;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: pxToRem(17);
		}

		&-message {
			width: 130px;
		    max-width: 220px;
			background: $white-color;
			box-shadow: 0 2px 4px 0 #D3DCE3;
			padding: 15px;
			position: absolute;
			color: #334C61;
			line-height: 18px;
			font-size: 14px;
			border-radius: 3px;
			font-family: $primary-font;
		    right: 10px;
		    bottom: 37px;
			transition: opacity 0.2s ease-in-out;
			opacity: 0;
			visibility: hidden;
		}

		&-message-triangle {
		    bottom: -11px;
		    width: 10px;
		    height: 12px;
		    position: absolute;
		    z-index: 1;
		    overflow: hidden;
		    box-shadow: 4px 0px 4px -2px #d3dce3;
			right: 0;

			&:after {
			    content: "";
			    box-shadow: 0 1px 4px 0 #d3dce3;
			    width: 20px;
			    height: 20px;
			    position: absolute;
			    background: #fff;
			    right: -13px;
			    top: -10px;
			    position: absolute;
			    z-index: 1;
			    transform: rotate(45deg);
			}	
		}
	}

	&__control {
		position: relative;
		width: 100%;
		
		&--error {
			.form__error {
				display: block;
			}

			.form__field {
				border: 1px solid $error-color;
			}
		}

		&--half {
			width: 49%;
		}

		&--message {
			margin: 20px 0;

			textarea {
				padding-top: 25px;
				min-height: 218px;
				resize: none;
				font-family: $primary-font;
			}
		}
	}


	&__field {
		overflow: hidden;
		box-sizing: border-box;
		width: 100%;
		min-height: 53px;
		padding: 0 0 0 30px;
		font-size: pxToRem(18);
		color: $font-secondary-color;
		background-color: $inverse-color;
		border-radius: pxToRem(26);
		border: none;
		outline: none;
		font-family: $primary-font;
		&::-webkit-input-placeholder {
		  color: $font-secondary-color;
		  font-family: $primary-font;
		}
		&::-moz-placeholder {
		  color: $font-secondary-color;
		  font-family: $primary-font;
		}
		&:-ms-input-placeholder {
		  color: $font-secondary-color;
		  font-family: $primary-font;
		}
		&:-moz-placeholder {
		  color: $font-secondary-color;
		  font-family: $primary-font;
		}
	}
	&__submit {
		min-height: 53px;
		font-size: pxToRem(18);
		border-radius: pxToRem(26);
		width: 100%;
		border: none;
		background-color: $accent-light-color;
		color: $inverse-color;
		font-family: $primary-font;
		cursor: pointer;
	}
}