
.footer {
  display: flex;
  flex-direction: column;
  background-color: $accent-color;
  height: 700px;
  .main-text {
    margin-top: -15px;
    line-height: 62px;
    color: $inverse-color;
    text-align: center;
  }
  .buttons-groups {
    margin-top: 50px;
  }
  .buttons-row {
    display: flex;
  }
  .social-list {
    margin-top: 15px;
  }
  .menu {
    height: 41px;
    max-width: $container-xl;
    .text--sm {
      cursor: pointer;
      margin-left: -7px;
      color: $inverse-color;
    }
  }
}

.social-list {
  display: flex;
  &__item {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }
  &__link {
      background-color: $accent-light-color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: opacity 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 0.6;
    }
  }
}

.promo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text--sm {
    margin-top: 47px;
    text-transform: uppercase;
    color: $inverse-color;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  &__item {
    cursor: pointer;
    margin-left: 21px;
    color: $inverse-color;
  }
  &__link {
    color: $inverse-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  font-size: pxToRem(12);
}
