.header {
  will-change: transform;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 3;
  position: fixed;

  .container {
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  &--fixed {
    background: white;
    box-shadow: 0 2px 2px 0 #efefef;
    transition: transform 0.4s linear, background 0.2s linear;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    color: $font-color;
  }

  &__text {
    font-size: pxToRem(19);
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: -4px;
  }
}

.nav {
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  display: flex;
  text-align: right;
  &__list-item {
    margin-left: 40px;
    text-transform: uppercase;
    display: inline-block;
    height: 22px;
    cursor: pointer;
    font-size: pxToRem(14);
    font-weight: 600;
    &--active {
      border-bottom: 3px solid $border-color;
    }
  }
  &__link {
    text-decoration: none;
    color: $font-color;
  }
  &__hamburger {
  	display: none;
  }
}
