.text--xsm {
  font-size: pxToRem(10);
}
.text--sm {
  font-size: pxToRem(12);
}
.text--md {
  font-size: pxToRem(17);
}
.text--xmd {
	font-size: pxToRem(43);
}
.text--bg {
	font-size: pxToRem(46);
}
.text--xbg {
  font-size: pxToRem(52);
}
.text--bold {
  font-weight: 700;
}
.text--italic {
  font-style: italic;
}
.text--center {
  text-align: center;
}
.text--sm-screen {
	display: none;
}

@media (max-width: 480px) {
	.text--hide-sm-screen {
		display: none;
	}
	.text--sm-screen {
		display: block;
	}
}