$primary-font: "Lato", sans-serif;

$base-font-size: 18px;


$error-color: #F14F4F;
$white-color: #FFF;

$font-color: #0c212c;
$font-secondary-color: #899cac;
$font-mid-light-color: #182B3F;
$font-light-color: #273B4E;
$link-color: #472CE9;
$border-color: #4e42ff;
$accent-color: #5a4bee;
$accent-bg-color: #f3f7fb;
$accent-light-color: #6c5eef;
$neutral-color: #e0e9f3;
$btn-shadow-color: #2e4581;
$secondary-color: #f7f7f7;
$inverse-color: #fff;
$dashed-color: #d3dce3;
$blur-color: #d7dfe7;
$secondary-icon-color: #9BACBA;
$container-xl: 1150px;

$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
